<h1>学生証</h1>
<p><%=current_user.name%></p>
<p><%=current_user.email%></p>
<form action="/home" method="POST">
  <div class=form-group><label for="profile">私について</label><br>
    <textarea rows="4" cols="40" id="profile" type="text" name="profile" placeholder="あなたについて入力してください"><%=current_user.profile%></textarea>
  </div>
  <input type="submit" value="更新">
</form>
<h1>所属ブカツ</h1>
<%UserCommunity.all.belonging(current_user).each do |user_community|%>
<p><%=Community.find_by(id: user_community.community_id).name%></p>
<%end%>
<h1>参加チーム</h1>
<%UserTeam.all.belonging(current_user).each do |user_team|%>
<a href="/team/<%=user_team.team_id%>">チーム:<%=Team.find_by(id: user_team.team_id).name%></a>
<%end%>